$color1: #463f3a
$color2: #8a817c
$color3: #bcb8b1
$color4: #f4f3ee
$color5: #e0afa0
$black: #000
$white: #fff

$border-color: $color5

body
	background-color: $white

.chatui
	border: 0px solid $border-color

.react-chatbot-kit-chat-container

.react-chatbot-kit-chat-inner-container
	background-color: $color4
	border-left: 0px solid $border-color

.react-chatbot-kit-chat-message-container
	border-left: 1px solid $border-color

.chatbot-loader-container

#chatbot-loader #chatbot-loader-dot1

#chatbot-loader #chatbot-loader-dot2

#chatbot-loader #chatbot-loader-dot3

@keyframes load
	0%
		opacity: 0
		50%
		opacity: 1
		100%
		opacity: 0
	
.react-chatbot-kit-chat-header
	background-color: $color1
	color: $color4

.react-chatbot-kit-user-chat-message-container

.react-chatbot-kit-chat-bot-message-container

.react-chatbot-kit-user-avatar-container
	background-color: $color5

.react-chatbot-kit-chat-bot-avatar-container
	background-color: $color1

.react-chatbot-kit-user-avatar-icon

.react-chatbot-kit-chat-bot-avatar-icon

.react-chatbot-kit-user-chat-message
	background-color: $color1
	color: $color4

.react-chatbot-kit-chat-bot-message
	background-color: $color5
	color: $color1

.react-chatbot-kit-user-chat-message-arrow
	border-top: 8px solid transparent
	border-bottom: 8px solid transparent
	border-left: 8px solid $color1

.react-chatbot-kit-chat-bot-message-arrow
	border-top: 8px solid transparent
	border-bottom: 8px solid transparent
	border-right: 8px solid $color5

.react-chatbot-kit-chat-bot-avatar-letter
	color: $color4

.react-chatbot-kit-chat-bot-loading-icon-container

.react-chatbot-kit-chat-input-container

.react-chatbot-kit-chat-input
	background-color: $color1
	color: $color4
	border-top: 2px solid $border-color
	border-left: 2px solid $border-color
	border-bottom: 2px solid $border-color

.react-chatbot-kit-chat-input-form

.react-chatbot-kit-chat-input::placeholder
	color: $color5

.react-chatbot-kit-chat-btn-send
	background-color: $color5
	color: $color5

.react-chatbot-kit-chat-btn-send-icon
	fill: $color1

.react-chatbot-kit-error
	background-color: $color5

.react-chatbot-kit-error-container

.react-chatbot-kit-error-header
	color: $color5

.react-chatbot-kit-error-docs
	color: $color4
	border: 1px solid $color4
