$body-bg: #012
/*color: #585858*/
$chat-bg: #fff
$chat-border: #000000
$dark-grey: #c0d8d8
$lighter-grey: #efefef
$chat-input-bg: #232
$chat-input-send-bg: #2898ec
$error-header: #1d1d1d
$user-msg-bg: #f1f1f1
$user-msg-color: #585858
$bot-msg-bg: #2898ec
$user-msg-arrow: #f1f1f1
$bot-msg-arrow: #2898ec
$error-docs-color: rgb(56, 104, 139)
$error-docs-border: rgb(40, 152, 236)
$chat-header-color: #514f4f
$user-avatar-bg: #3d4e8d
$bot-avatar-bg: #494646
$bot-avatar-letter-color: #1d1d1d

body
	background-color: $body-bg

.chatui
	margin: 20px
	width: auto
	text-align: center
	border: 0px solid $chat-border

.react-chatbot-kit-chat-container
	position: relative
	width: 100%

.react-chatbot-kit-chat-inner-container
	height: 500px
	background-color: $chat-bg
	border-radius: 3px
	margin-bottom: 15px
	border-radius: 5px
	border-left: 0px solid $chat-border

.react-chatbot-kit-chat-message-container
	padding: 0 17.5px 10px 17.5px
	overflow: scroll
	height: 424px
	border-left: 1px solid $chat-border

.chatbot-loader-container
	display: flex
	width: 100%
	justify-content: center

#chatbot-loader #chatbot-loader-dot1
	animation: load 1s infinite

#chatbot-loader #chatbot-loader-dot2
	animation: load 1s infinite
	animation-delay: 0.2s

#chatbot-loader #chatbot-loader-dot3
	animation: load 1s infinite
	animation-delay: 0.4s

@keyframes load
	0%
		opacity: 0
		50%
		opacity: 1
		100%
		opacity: 0
	
.react-chatbot-kit-chat-header
	border-top-right-radius: 5px
	border-top-left-radius: 5px
	background-color: $lighter-grey
	font-family: Arial
	display: flex
	align-items: center
	font-size: 0.85rem
	color: $chat-header-color
	padding: 12.5px
	font-weight: bold

.react-chatbot-kit-user-chat-message-container
	display: flex
	margin: 15px 0
	justify-content: flex-end

.react-chatbot-kit-chat-bot-message-container
	display: flex
	margin: 15px 0
	justify-content: flex-start

.react-chatbot-kit-user-avatar-container
	width: 40px
	height: 40px
	border-radius: 0
	margin-left: 12.5px
	background-color: $user-avatar-bg
	display: flex
	justify-content: center
	align-items: center

.react-chatbot-kit-chat-bot-avatar-container
	width: 40px
	height: 40px
	border-radius: 0
	font-size: 1.2rem
	margin-right: 12.5px
	background-color: $dark-grey
	display: flex
	justify-content: center
	align-items: center

.react-chatbot-kit-user-avatar-icon
	fill: $chat-bg
	width: 15px
	height: 15px

.react-chatbot-kit-chat-bot-avatar-icon
	fill: $bot-avatar-bg
	width: 22.5px
	height: 22.5px

.react-chatbot-kit-user-chat-message
	background-color: $user-msg-bg
	padding: 10px
	border-radius: 5px
	font-size: 0.9rem
	color: $user-msg-color
	font-weight: medium
	position: relative
	text-align: left

.react-chatbot-kit-chat-bot-message
	background-color: $bot-msg-bg
	padding: 10px
	border-radius: 5px
	font-size: 0.9rem
	color: $chat-bg
	font-weight: medium
	position: relative
	width: 184.5px
	margin-left: 5px
	text-align: left

.react-chatbot-kit-user-chat-message-arrow
	width: 0
	height: 0
	border-top: 8px solid transparent
	border-bottom: 8px solid transparent
	border-left: 8px solid $user-msg-arrow
	position: absolute
	right: -7px
	top: 13px

.react-chatbot-kit-chat-bot-message-arrow
	width: 0
	height: 0
	border-top: 8px solid transparent
	border-bottom: 8px solid transparent
	border-right: 8px solid $bot_msg-arrow
	position: absolute
	left: -7px
	top: 13px

.react-chatbot-kit-chat-bot-avatar-letter
	color: $bot-avatar-letter-color
	margin: 0
	padding: 0

.react-chatbot-kit-chat-bot-loading-icon-container
	height: 17px
	width: 25px

.react-chatbot-kit-chat-input-container
	position: absolute
	bottom: 0
	width: 100%
	display: flex

.react-chatbot-kit-chat-input
	background-color: $chat-input-bg
	color: $chat-bg
	width: 100%
	padding: 12.5px
	border: none
	font-size: 0.85rem
	border-top: 2px solid $dark-grey
	border-left: 2px solid $chat-border
	border-bottom: 2px solid $chat-border
	border-bottom-left-radius: 5px

.react-chatbot-kit-chat-input-form
	width: 100%
	display: flex

.react-chatbot-kit-chat-input::placeholder
	color: $chat-bg

.react-chatbot-kit-chat-btn-send
	background-color: $chat-input-send-bg
	width: 100px
	border: none
	color: $chat-bg
	border-bottom-right-radius: 5px

.react-chatbot-kit-chat-btn-send-icon
	fill: $chat-bg
	width: 15px

.react-chatbot-kit-error
	background-color: $chat-bg
	border-radius: 3px
	padding: 15px

.react-chatbot-kit-error-container
	width: 260px

.react-chatbot-kit-error-header
	font-size: 1.3rem
	color: $error-header
	margin-bottom: 30px

.react-chatbot-kit-error-docs
	display: block
	margin: 25px auto
	color: $error-docs-color
	padding: 8px
	border: 1px solid $error-docs-border
	width: 130px
	text-align: center
	text-decoration: none
	font-size: 1rem
